<div class="container my-3">
  <h1 class="text-center m-3"><%= "#{@guest.first_name} #{@guest.last_name}さんの詳細" %></h1>
  <%# 利用者の詳細テーブル %>
  <div class="container">
    <table class="table table-bordered">
      <caption>利用者の詳細</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">名前</th>
          <th scope="col">性別</th>
          <th scope="col">利用日１</th>
          <th scope="col">利用日２</th>
          <th scope="col">歩行状態</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"><%= "#{@guest.first_name} #{@guest.last_name} (#{@guest.first_name_kana} #{@guest.last_name_kana})" %></td>
          <td scope="col"><%= @guest.gender.name %></td>
          <td scope="col"><%= @guest.visit1.name %></td>
          <td scope="col"><%= @guest.visit2.name %></td>
          <td scope="col"><%= @guest.adl.name %></td>
        </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
          <th colspan="12">利用者の備考</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="12"><%= @guest.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /利用者の詳細テーブル %>
  <%# 利用者の入浴詳細テーブル %>
  <div class="container">
    <table class="table table-bordered">
      <caption>入浴の詳細</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">入浴形態</th>
          <th scope="col">感染症</th>
          <th scope="col">入浴の順番</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"><%= @guest.bath.bathing.name %></td>
          <td scope="col"><%= @guest.bath.infection.name %></td>
          <td scope="col"><%= @guest.bath.timing.name %></td>
        </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
          <th colspan="12">入浴の備考</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="12"><%= @guest.bath.remark_bath %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /利用者の入浴詳細テーブル %>
  <%# 利用者の水分詳細テーブル %>
  <div class="container">
    <table class="table table-bordered">
      <caption>水分の詳細</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">飲み物の種類</th>
          <th scope="col">とろみの量</th>
          <th scope="col">温めの有無</th>
          <th scope="col">糖尿病の有無</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"><%= @guest.drink.drink_type.name %></td>
          <td scope="col"><%= @guest.drink.thickness.name %></td>
          <td scope="col"><%= @guest.drink.warm ? "温める" : "温めない"  %></td>
          <td scope="col"><%= @guest.drink.diabetes ? "有り" : "無し"  %></td>
        </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
          <th colspan="12">水分の備考</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="12"><%= @guest.drink.remark_drink %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /利用者の水分詳細テーブル %>
  <%# 利用者のコメントテーブル %>
  <div class="container">
    <table class="table table-bordered">
      <caption>更新履歴</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">種別</th>
          <th scope="col">コメント</th>
          <th scope="col">日付</th>
          <th scope="col">編集/削除</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td scope="col" style="width:10%"><%= comment.comment_type.name %></td>
            <td scope="col" style="width:55%"><%= comment.text %></td>
            <td scope="col" style="width:20%"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            <td scope="col" style="width:15%">
              <%# <%= link_to '編集', edit_guest_comment_path(comment.guest.id, comment.id), method: :get, class: "btn btn-primary", role: "button" %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  編集
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">更新履歴を編集する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: comment, url: "/guests/#{comment.guest_id}/comments/#{comment.id}", method: :patch, local: true) do |f| %>
          <div class="form-row my-3">
            <div class="form-group">
              <label for="comment-type-id"></label>
              <%= f.hidden_field :comment_type_id, class:"form-control", id:"comment-type-id", value: 2 %>
            </div>
            <div class="form-group col-sm-12">
              <label for="text">コメント<span class="text-danger pl-3">必須</span></label>
              <%= f.text_area :text, class:"form-control", id:"text" %>
            </div>
          </div>
          <%# 登録ボタン %>
          <div class="form-row my-3">
            <div class="form-group col-sm-12 modal-footer">
              <%= f.submit "更新履歴を編集する" ,class:"btn btn-primary", role: "button" %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">編集を中止する</button>
            </div>
          </div>
          <%# /登録ボタン %>
        <% end %>
      </div>
    </div>
  </div>
</div>

              <%= link_to '削除', guest_comment_path(comment.guest.id, comment.id), method: :delete, class: "btn btn-danger", role: "button" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%# /利用者の水分詳細テーブル %>
  <%# 編集あるいは削除ボタン %>
  <div class="row">
    <div class="col">
      <%= link_to '編集', edit_guest_path(@guest.id), method: :get, class: "btn btn-primary btn-block btn-lg", role: "button" %>
    </div>
    <div class="col">
      <%= link_to '削除', guest_path(@guest.id), method: :delete, class: "btn btn-danger btn-block btn-lg", role: "button" %>
    </div>
  </div>
  <%# /編集あるいは削除ボタン %>
</div>