<%# 曜日ボタン %>
<div class="container d-flex justify-content-center my-3">
  <div class="btn-group" role="group" aria-label="Day-of-the-week">
    <%= link_to '全表示', baths_path, class: "btn btn-outline-info nav-link", id: "allday", role: "button" %>
    <%= link_to '月曜日', search_bath_path(1), class: "btn btn-outline-info nav-link", id: "monday", role: "button" %>
    <%= link_to '火曜日', search_bath_path(2), class: "btn btn-outline-info nav-link", id: "tuesday", role: "button" %>
    <%= link_to '水曜日', search_bath_path(3), class: "btn btn-outline-info nav-link", id: "wednesday", role: "button" %>
    <%= link_to '木曜日', search_bath_path(4), class: "btn btn-outline-info nav-link", id: "thursday", role: "button" %>
    <%= link_to '金曜日', search_bath_path(5), class: "btn btn-outline-info nav-link", id: "friday", role: "button" %>
    <%= link_to '土曜日', search_bath_path(6), class: "btn btn-outline-info nav-link", id: "saturday", role: "button" %>
    <%= link_to '日曜日', search_bath_path(7), class: "btn btn-outline-info nav-link", id: "sunday", role: "button" %>
  </div>
</div>
 <%# /曜日ボタン %>
<div class="container-fluid">
  <%# タイトル %>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center">入浴形態表</h1>
      </div>
    </div>
    <div class="mb-3 d-flex justify-content-end">
      <button type="button" class="btn btn-success print printing"><i class="fas fa-print" aria-hidden="true"></i>この表を印刷する</button> 
    </div>
    <div class="row mb-3">
      <div class="col-4 text-left">
        <h3><%= @day_of_the_week  ? "#{@day_of_the_week}曜日" : "全表示" %></h3>
      </div>
      <div class="col-8 text-right">
       <h3><%= "利用予定者　#{@count}名" if @count %></h3>
      </div>
    </div>
  </div>
  <%# /タイトル %>

  <%# 一般浴 %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <h3 class="text-center bg-info text-white">一般浴 男子</h3>
        <table class="table table-striped table-bordered table-hover table-clickable">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">名前</th>
              <th scope="col">入浴の備考</th>
              <th scope="col">順番</th>
              <th scope="col">感染症</th>
            </tr>
          </thead>
          <tbody>
            <% @normal_males.each do |guest| %>
              <%= render partial: "shared/bath", locals: { guest: guest } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xl-6">
        <h3 class="text-center bg-info text-white">一般浴 女子</h3>
        <table class="table table-striped table-bordered table-hover table-clickable">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">名前</th>
              <th scope="col">入浴の備考</th>
              <th scope="col">順番</th>
              <th scope="col">感染症</th>
            </tr>
          </thead>
          <tbody>
            <% @normal_females.each do |guest| %>
              <%= render partial: "shared/bath", locals: { guest: guest } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%# /一般浴 %>


  <%# 一般チェア浴 %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <h3 class="text-center bg-info text-white">一般チェアー浴 男子</h3>
        <table class="table table-striped table-bordered table-hover table-clickable">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">名前</th>
              <th scope="col">入浴の備考</th>
              <th scope="col">順番</th>
              <th scope="col">感染症</th>
            </tr>
          </thead>
          <tbody>
            <% @normal_chair_males.each do |guest| %>
              <%= render partial: "shared/bath", locals: { guest: guest } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xl-6">
        <h3 class="text-center bg-info text-white">一般チェアー浴 女子</h3>
        <table class="table table-striped table-bordered table-hover table-clickable">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">名前</th>
              <th scope="col">入浴の備考</th>
              <th scope="col">順番</th>
              <th scope="col">感染症</th>
            </tr>
          </thead>
          <tbody>
            <% @normal_chair_females.each do |guest| %>
              <%= render partial: "shared/bath", locals: { guest: guest } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%# /一般チェア浴 %>


  <%# チェア浴 %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <h3 class="text-center bg-info text-white">チェアー浴 男子</h3>
        <table class="table table-striped table-bordered table-hover table-clickable">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">名前</th>
              <th scope="col">入浴の備考</th>
              <th scope="col">順番</th>
              <th scope="col">感染症</th>
            </tr>
          </thead>
          <tbody>
            <% @chair_males.each do |guest| %>
              <%= render partial: "shared/bath", locals: { guest: guest } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xl-6">
        <h3 class="text-center bg-info text-white">チェアー浴 女子</h3>
        <table class="table table-striped table-bordered table-hover table-clickable">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">名前</th>
              <th scope="col">入浴の備考</th>
              <th scope="col">順番</th>
              <th scope="col">感染症</th>
            </tr>
          </thead>
          <tbody>
            <% @chair_females.each do |guest| %>
              <%= render partial: "shared/bath", locals: { guest: guest } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%# /チェア浴 %>
  

</div>
<%= javascript_pack_tag 'nav-active' %>