<tr class="guest-no-<%= guest.id %>" data-href="<%= edit_guest_path(guest.id, bath_day: edit_jump(params[:id])) %>" >
  <td scope="col" style="width:5%"></td>
  <td scope="col" style="width:30%"><%= "#{guest.first_name} #{guest.last_name}" %></td>
  <td scope="col" style="width:25%"><%= guest.bath.remark_bath %></td>
  <td scope="col" style="width:15%"><%= guest.bath.timing.name %></td>
  <td scope="col" style="width:25%"><%= guest.bath.infection_id == 1 ? "" : "#{guest.bath.infection.name}" %></td>
</tr>