<tr class="guest-no-<%= guest.id %>" data-href="<%= edit_guest_path(guest.id, drink_day: edit_jump(params[:id])) %>" >
  <td scope="col" style="width:5%"></td>
  <td scope="col" style="width:30%"><%= "#{guest.first_name} #{guest.last_name}" %></td>
  <td scope="col" style="width:30%"><%= guest.drink.remark_drink %></td>
  <td scope="col" style="width:25%"><%= guest.drink.thickness_id == 1 ? "" : "#{guest.drink.thickness.name}" %></td>
  <td scope="col" style="width:5%"><%= guest.drink.warm ? "â—" : "" %></td>
  <td scope="col" style="width:5%"><%= guest.drink.diabetes ? "â—" : "" %></td>
</tr>