<header class="header bg-light">
  <nav class="navbar navbar-expand-xl navbar-white bg-light">

    <%# ブランドロゴ表示 %>
    <div>
      <%= link_to '兵声援', root_path, class: "navbar-brand text-dark" %>
    </div>
    <% if user_signed_in? %>
      <div>
        <span class="navbar-brand text-dark"><%= "ようこそ #{current_user.name}さん" %></span>
      </div>
    <% end %>
    <%# トグル %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <%# メニューバー %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">

          </li>
          <li class="nav-item">
            <%= link_to new_guest_path, class: "btn btn-outline-dark nav-link", id: "entry", role: "button"  do %>
            <i class="fas fa-user-plus"></i>利用者を登録する
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "btn btn-outline-dark nav-link", id: "guest-index", role: "button" do %>
            <i class="fas fa-users"></i>利用者一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to baths_path, class: "btn btn-outline-dark nav-link", id: "bath-index", role: "button" do %>
            <i class="fas fa-bath"></i>入浴形態表
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to drinks_path, class: "btn btn-outline-dark nav-link", id: "drink-index", role: "button" do %>
            <i class="fas fa-coffee"></i>水分提供表
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-dark nav-link", role: "button" do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "btn btn-outline-dark nav-link", role: "button" do %>
            <i class="fas fa-user-circle"></i>新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "btn btn-outline-dark nav-link", role: "button" do %>
            <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </nav>
</header>