<header class="header bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

      <%# ロゴ表示 %>
      <div>
       <%= link_to '兵声援', root_path, class: "navbar-brand" %>
      </div>

      <%# トグル %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <%# メニューバー %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto list-group">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "利用者を登録する", new_guest_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to '利用者一覧', root_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to '入浴形態表', baths_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to '水分提供表', drinks_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
        <% end %>
        </ul>
      </div>

    </nav>
  </div>
</header>