<tr class="guest-list guest-no-<%= guest.id %>" data-href="<%= guest_path(guest.id) %>" >
  <td scope="col"><%= "#{guest.first_name} #{guest.last_name}" %></td>
  <td scope="col"><%= guest.gender.name %></td>
  <td scope="col"><%= guest.visit1.name %>/<%= guest.visit2.name %></td>
  <td scope="col"><%= guest.adl.name %></td>

  <td scope="col"><%= guest.bath.bathing.name %></td>
  <td scope="col"><%= guest.bath.infection.name %></td>

  <td scope="col"><%= guest.drink.drink_type.name %></td>
  <td scope="col"><%= guest.drink.thickness.name %></td>
  <td scope="col"><%= guest.drink.warm ? "â—" : "" %></td>
  <td scope="col"><%= guest.drink.diabetes ? "â—" : ""  %></td>

  <td scope="col"><%= guest.food.staple_type.name %></td>
  <td scope="col"><%= guest.food.main_dish_type.name %></td>
  <td scope="col"><%= guest.food.side_dish_type.name %></td>
  <td scope="col"><%= guest.food.denture.name %></td>
  <td scope="col" class="text-center"><%= guest.food.low_salt ? "â—" : "" %></td>
  <td scope="col" class="text-center"><%= guest.food.soup_thick ? "â—" : "" %></td>

</tr>