<div class="container">
  <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'registration-main', local: true do |f| %>
    <%# タイトル %>
    <div class="row">
      <div class="col">
        <h1 class="text-center m-3">ユーザーログイン画面</h1>
        <div class='text-danger text-center m-3'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">メールアドレス<span class="text-danger">必須</span></label>
      <%= f.email_field :email, class:"input-default form-control", id:"email", placeholder:"", autofocus: true %>
    </div>
    <div class="form-group">
      <label for="password">パスワード<span class="text-danger">必須</span></label>
      <%= f.password_field :password, class:"input-default form-control", id:"password", placeholder:"" %>
    </div>
    <div class="form-row my-3">
      <div class="form-group col-sm-12">
        <%= f.submit "ログイン" ,class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <div>
    <%= link_to "新規登録画面へ行く", new_user_registration_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
    <%= link_to 'トップ画面に戻る', root_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
  </div>
</div>